<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Statistiques {{ year }} — SwissStats</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>
<body>

<nav>
  <a href="/" class="logo">🐄 Swiss<span>Stats</span></a>
  <a href="/map?year={{ year }}">🗺 Carte</a>
  <a href="/stats?year={{ year }}" class="active">📊 Statistiques</a>
  <div class="spacer"></div>
  <span class="nav-badge">{{ firstname }}</span>
  <button class="nav-btn" onclick="window.location='/logout'">Déconnexion</button>
</nav>

<div class="year-bar">
  <button class="btn" onclick="changeYear(-1)">◀</button>
  <input type="number" id="yearInput" value="{{ year }}" min="2010" max="2030">
  <button class="btn" onclick="changeYear(+1)">▶</button>
</div>

<div class="content" id="content">
  <div class="empty">Chargement…</div>
</div>

<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<footer>
    <a href="https://heig-vd.ch/">
      <img src="/figures/HEIG-VD.png" alt="HEIG logo" class ="logo">
    </a>
    <p class="login-footer">HEIG-VD 2026 — Fardel, Perroud, Smith</p>

</footer>
</body>
</html>
